<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Report patient view</h3>
    </div>
    <div class="panel-body">
      <div class = "row ">
      <label>Name: <%- report.firstName %> <%- report.lastName %></label>
      </div>
      
      <div class = "row ">
      <label>Age: <%- report.age %></label>
      </div>
      
      <div class = "row ">
      <label>Height: <%- report.height %></label>
      </div>
      
      <div class = "row ">
      <label>Weight: <%- report.weight %></label>
      </div>
      
      <div class = "row ">
      <label>Symptoms: <%- report.symptoms %></label>
      </div>
      
      <div class = "row ">
      <label>Diagnosis: <%- report.diagnosis %></label>
      </div>
      
      <div class = "row ">
      <label>Medication: <%- report.medicines %></label>
      </div>
      
      <div class = "row ">
      <label>Date: <%- report.created_at %></label>
      </div>
    </div>
  </div>
</body>
</html>
