<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      background-image:url("http://www.freebiesgallery.com/wp-content/uploads/2013/08/light-blue-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }
  </style>

</head>
<body>

  <script>
  function show(e) {
    var category = e.target.text;
    var x = document.getElementsByClassName("child");
    for ( var i = 0; i < x.length; i++ ) {
      x[i].style.display = 'none';
    }
    var myElement = document.getElementById(category);
    myElement.style.display = 'block'
  }
  </script>

  <div class="panel-heading">
      <div class = "row">
        <div class = "col-sm-4 col-xs-4">
      <p class="panel-title"><b>Welcome <%- user.local.firstName %><b></p>
      </div>
      <div class = "col-sm-4 col-xs-4">
      </div>
      <div class = "col-sm-4">
      <p class="panel-title" align = "right"> <b>Patient ID: <%- user.local.userID %><b></p>
        <br>
  </div>
  </div>

<div class="row" id="categories">
  <div id = "table-wrapper"class ="col-xs-12 col-md-6 col-sm-6">
    <h4>Report Categories</h4>
    <div id="table-scroll">
      <table class="table table-bordered;">
      <thead>
        <tr>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><a href="#" onclick='return show(event);'>Cardiologist</a></td>
          </tr>
          <tr>
            <td><a href="#" onclick='return show(event);'>Dentist</a></td>
          </tr>
          <tr>
            <td><a href="#" onclick='return show(event);'>Neurologist</a></td>
          </tr>
          <tr>
            <td><a href="#" onclick='return show(event);'>ENT Specialist</a></td>
          </tr>
          <tr>
            <td><a href="#" onclick='return show(event);'>Gastroenterologist<a></td>
          </tr>
      </tbody>
    </table>
    </div>
  </div>


  <div class="child" id="Cardiologist" class="row">
      <h4>Cardiologist</h4>
      <div class ="col-xs-12 col-md-6">
        <table class= "table table-bordered" id="hiddentable" >
          <thead>
            <tr>
              <th>Reports</th>
            </tr>
          </thead>
          <tbody>
            <% var counter = 0;
            for (var i = 0; i < report.length; i++) {
              console.log(report[i].specialization);
                if (report[i].specialization == "Cardiologist") { %>
                  <a  href="/patientReport/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="list-group-item list-group-item-action">Report <%- counter+1 %> </a>
                  <a  href="/patientReportDel/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="btn btn-sm"><font color="red"><span class="glyphicon glyphicon-trash"></span></a></font>

              <%counter=counter+1;  } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="child" id="Dentist" class="row">
        <h4>Dentist</h4>
        <div class ="col-xs-12 col-md-6">
          <table class= "table table-bordered" id="hiddentable" >
            <thead>
              <tr>
                <th>Reports</th>
              </tr>
            </thead>
            <tbody>
              <% var counter = 0;
              for (var i = 0; i < report.length; i++) {
                console.log(report[i].specialization);
                  if (report[i].specialization == "Dentist") { %>
                    <a  href="/patientReport/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="list-group-item list-group-item-action">Report <%- counter+1 %> </a>
                    <a  href="/patientReportDel/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="btn btn-sm"><font color="red"><span class="glyphicon glyphicon-trash"></span> </a></font>

                <%counter=counter+1;  } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="child" id="Neurologist" class="row">
          <h4>Neurologist</h4>
          <div class ="col-xs-12 col-md-6">
            <table class= "table table-bordered" id="hiddentable" >
              <thead>
                <tr>
                  <th>Reports</th>
                </tr>
              </thead>
              <tbody>
                <% var counter = 0;
                for (var i = 0; i < report.length; i++) {
                  console.log(report[i].specialization);
                    if (report[i].specialization == "Neurologist") { %>
                      <a  href="/patientReport/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="list-group-item list-group-item-action">Report <%- counter+1 %> </a>
                      <a  href="/patientReportDel/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="btn btn-sm"><font color="red"><span class="glyphicon glyphicon-trash"></span></a></font>

                  <%counter=counter+1;  } %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="child" id="ENT Specialist" class="row">
            <h4>ENT Specialist</h4>
            <div class ="col-xs-12 col-md-6">
              <table class= "table table-bordered" id="hiddentable" >
                <thead>
                  <tr>
                    <th>Reports</th>
                  </tr>
                </thead>
                <tbody>
                  <% var counter = 0;
                  for (var i = 0; i < report.length; i++) {
                    console.log(report[i].specialization);
                      if (report[i].specialization == "ENT_Specialist") { %>
                        <a  href="/patientReport/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="list-group-item list-group-item-action">Report <%- counter+1 %> </a>
                        <a  href="/patientReportDel/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="btn btn-sm"><font color="red"><span class="glyphicon glyphicon-trash"></span>Delete </a></font>

                    <%counter=counter+1;  } %>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>


          <div class="child" id="Gastroenterologist" class="row">
              <h4>Gastroenterologist</h4>
              <div class ="col-xs-12 col-md-6">
                <table class= "table table-bordered" id="hiddentable" >
                  <thead>
                    <tr>
                      <th>Reports</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var counter = 0;
                    for (var i = 0; i < report.length; i++) {
                      console.log(report[i].specialization);
                        if (report[i].specialization == "Gastroenterologist") { %>
                          <a  href="/patientReport/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="list-group-item list-group-item-action">Report <%- counter+1 %> </a>
                          <a  href="/patientReportDel/" onclick="location.href=this.href+ <%= user.local.userID%>+'/'+ <%= i%>;return false;" class="btn btn-sm"><font color="red"><span class="glyphicon glyphicon-trash"></span>Delete </a></font>

                      <%counter=counter+1;  } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>






</div>

<script>
var x = document.getElementsByClassName("child");
for ( var i = 0; i < x.length; i++ ) {
  x[i].style.display = 'none';
}
</script>

</body>

  <div class="col-sm-6 col-sm-offset-3">
    <p align="right">
<a href="/logout" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-off"></span> Logout</a>
</p>
</div>
</html>
